body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

form {
    width: 300px;
    margin: 0 auto;
}

label,
input,
textarea,
select {
    display: block;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin-top: 20px;
}

textarea {
    resize: vertical;
}

.btn {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.input {
    padding: 5px;
    border: 1px solid #ccc;
    width: 250px;
}

.textarea {
    padding: 5px;
    border: 1px solid #ccc;
    width: 450px;
    height: 150px;
}

.finish-btn {
    padding: 4px 8px;
    background-color: #17c312;
    color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
  }
  
  .finish-btn:hover {
    background-color: #058505;
  }